﻿1.使用方法
<br/>
在pro工程中包含Network.pri
<br/>
在相应的代码中包含Network.h即可得到所有Network接口的声明
<br/>
---------------------------------------------------------------------
<br/>
接口描述
<br/>
1.FDBfHTTPDownLoad(const char* pchURL,const char* pchStoreDirectory);
<br/>
pchURL: 要下载的文件的URL地址，譬如http://www.sysfix.cn/EliteSqlite.exe
<br/>
pchStoreDirectory: 下载文件的存放目录（总要保证这是utf8编码的字符串），比如d:/app/EliteSqlite。当然，可以总是传入相对路径。
<br/>