#register:link
{
	border:1px solid blue;
	background:url(images/chinese/register_normal.png);
}
#register:visited
{
	border:5px solid red;
	color:blue;
}
#register:hover
{
	border:5px solid yellow;
	color:yellow;
	background:url(images/chinese/register_hover.png);
}
#register:active
{
	color:purple;
}