body
{
	/*width:346px 386px;*/
	padding:120px 80px 50px 110px;
}
#overlay
{
	background-color: rgba(0,0,0,0.8);
	z-index:999;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:none;
}

.inputbox
{
	/*border:1px solid blue;*/
	width:366px; height:39px;
	margin:0;
	padding:2px 0 0 7px;
	background:url(images/line_bg_normal.png) no-repeat;
}
.inputbox div
{
	display:inline-block;
	/*border:1px solid red;*/
	width:330px; height:25;
	background-attachment:fixed;
	padding-left:20px; padding-top:8px;
}
.inputbox div input
{
	background:transparent;
	border:0; outline:0;
	color:lightgray;
	width:310px;
	padding:0;
	margin:0;
}
#user_name_input_div
{
	background:url(images/user_name_icon.png) no-repeat;	
}
#user_email_input_div
{
	background:url(images/user_email_icon.png) no-repeat;
}
#user_key_input_div
{
	background:url(images/user_key_icon.png) no-repeat;
}

button
{
	border:0;
	outline:0;
	background:transparent;
	padding:0; margin:0;
}
button:onfocus
{
	border:1px solid red;
}
#error_tip_button
{
	position:absolute;
	left:140px;
	top:215px;
	display:none;
}
#cancel_button
{
	margin-left:85px;
}

#purchase_button
{
	display:inline-block;
	margin:20px 0 0 95px;
}
#website_link
{
	display:block;
	margin:45px 0 0 50px;
}