body {
    /*width:346px 386px;*//*
    padding:80px 40px 0 60px;*/
    margin: 0;
    background-color: rgb(0, 154, 234);
    background-repeat: no-repeat;
    font-size: 12px;
    font-family: "SimSun"
}

#container {
    width: 550px;
    height: 500px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}

#overlay /*遮罩*/
             {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#input_area /*信息输入区域*/
             {
    margin: 30px 25px 10px 25px;
    background: white;
    border-top: 9px solid rgb(0, 140, 212);
    border-bottom: 9px solid rgb(0, 140, 212);
    border-left: 10px solid rgb(0, 140, 212);
    border-right: 10px solid rgb(0, 140, 212);
    padding-left: 20px;
    padding-bottom: 15px;
    /*text-align: center;*/
}

.inputbox {
    /*border:1px solid blue;*/
    width: 366px;
    height: 39px;
    padding: 2px 0 0 7px;
    background: url(../images/line_bg_normal.png) no-repeat;
}

.inputbox div {
    display: inline-block;
    /*border:1px solid red;*/
    width: 330px;
    height: 25;
    background-attachment: fixed;
    padding-left: 20px;
    padding-top: 8px;
}

.inputbox div:hover {
    background: url(/images/line_bg_active.png) no-repeat;
}

.inputbox div input {
    background: transparent;
    border: 0;
    outline: 0;
    color: gray;
    width: 300px;
    padding: 0;
    padding-top: 3px;
    margin: 0;
}

#user_name_input_div {
    width: 95%;
    background: url(../images/user_name_icon.png) no-repeat;
    background-position: 8px 8px;
    margin-bottom: 15px;
}

#user_email_input_div {
    width: 95%;
    background: url(../images/user_email_icon.png) no-repeat;
    background-position: 7px 8px;
    margin-bottom: 15px;
}

#user_key_input_div {
    width: 95%;
    background: url(../images/user_key_icon.png) no-repeat;
    background-position: 8px 8px;
    margin-bottom: 15px;
}

#function_area {
    display: inline-block;
}

button:focus {
    border: 1px solid red;
}

#error_tip_button {
    position: absolute;
    left: 180px;
    top: 180px;
    display: none;
}

#cancel_button {
    display: inline-block;
    vertical-align: top;
    background-image: url("../images/english/cancel_normal.png");
    width: 130px;
    height: 44px;
    border-radius: 20px;
}

#cancel_button :hover {
    background-image: url("../images/english/cancel_hover.png");
}

#purchase_button {
    margin-top: 2px;
    display: inline-block;
    vertical-align: top;
    background-image: url("../images/english/purchase_normal.png");
    width: 95px;
    height: 40px;
}

#purchase_button:hover {
    background-image: url("../images/english/purchase_hover.png");
}

#register_button {
    display: inline-block;
    vertical-align: top;
    background-image: url("../images/english/register_normal.png");
    width: 130px;
    height: 44px;
    border-radius: 20px;
}

#register_button:hover {
    background-image: url("../images/english/register_hover.png");
}

#our_info {
    color: white;
    font-size: 12px;
    padding-left: 40px;
}

#info_describe {
    vertical-align: top;
}

#info_describe div img {
    display: inline-block;
    margin-right: 2px;
    float: left;
}

#website_link {
    display: inline-block;
    width: 100px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

#twocode_combo {
    display: inline-block;
    margin-right: 1px;
    margin-left: auto;
}

.form-control {
    padding-left: 25px;
    font-size: 15px;
}

.btn {
    border: 0px solid transparent;
    outline: 0;
    background: transparent;
    padding: 0;
    margin: 0;
}

.btn:focus {
    border: none;
    outline: 0;
}

.btn:active {
    border: none;
    outline: 0;
}

.btn::-moz-focus-inner {
    border: none;
    outline: 0;
}

.infoImg {
    height: 20px;
    width: 20px;
    float: left;
}

.infoText {
    height: 20px;
    width: 280px;
    float: left;
}

#Head {
    width: 100%;
    height: 40px;
    position: fixed;
}