﻿1.FDB中的出错处理由一个全局的整型变量记录错误代码，一个全局的4K的字符串记录错误信息。他们分别声明在:/Exception/errorNum.h
	<pre style="color: red">
	extern int giFDBErrNum;
	extern char gacFDBErrStr[4096];
	</pre>
a). 为了操作这些变量，有以下一些接口。
	<pre style="color:red">
	#define FDBErrStr(format) \
	    sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__);
	#define FDBErrStr_ONE_PARAM(format,param1) \
	    sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1);
	#define FDBErrStr_TWO_PARAM(format,param1,param2) \
	    sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1,param2);
	#define FDBErrStr_THREE_PARAM(format,param1,param2,param3) \
	    sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1,param2,param3);
	#define FDBErrStr_FOUR_PARAM(format,param1,param2,param3,param4) \
	    sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1,param2,param3,param4);
	#define FDBErrStr_FIVE_PARAM(format,param1,param2,param3,param4,param5) \
	    sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1,param2,param3,param4,param5);
	</pre>
	以上是设置全局错误描述的，FDBErrStr表示没有参数，相应FDBErrStr_ONE_PARAM带有一个参数,使用示例见下文。
<br />
b). 使用示例。
	<pre style="color: red">
	iReturn = WSAStartup(wRequestVersion,&wsaData);
	if(iReturn != 0)
	{
		giFDBErrNum = iReturn; //设置全局错误变量
           		FDBErrStr_ONE_PARAM("initialize Win Sock failed,error code: %d",giFDBErrNum); //设置全局的错误描述，带有一个参数
            		FDBLOG_ONE_PARAM(FDB_LOG_FILE,"initialize Win Sock failed,error code: %d",giFDBErrNum); //向FDB_LOG_FILE(可能是一个stdout或者文件)打印错误信息，格式化与FDBErrStr_ONE_PARAM大致相同
		return (NULL);
	}	
	</pre>
	