﻿<head>
<style>
	.section {
		padding-left: 10px;
		border-left: 5px solid #aabbcc;
		font-size: 20px;
	}
</style>
</head>

author: shawhen email:zhenguo.hu@fulldatasoft.com<br />
<br />
章节的适用标注了使用读者范围
all - 所有,fdb开发者和调用者
<br />
<a href="#brief">1.简介||适用:all</a>
<br/>
<a href="#structure">2.结构||all</a>
<br/>
<a href="#module_brief">3.模块简介||适用:all</a>
<br/>
<a href="#develop_attention">4.fdb库开发者导读||适用:fdb库开发者</a>
<br/>
<br/>
<a name="brief" class="section">1.简介||适用:all</a><br/>
fdb 为经典的MVC模式.现在所看到的是Primitive层(即M)的描述文件(或称为原语层),是使用纯C实现的.
<br/>
C层可使用更抽象的语言对M层进行封装.例如python,c++,c#,delphi等
<br/>
V层使用C层提供的接口进行应用软件的开发.
<br/>
pro/pri简介:
<br/>
pro/pri是Qt中的make工具(qmake)生成makefile的跨平台工具.fdb的开发和使用也是建立在这个工具之上.
<br/>
pro是将会生成可执行文件或者 共享/静态 库的工程描述文件,类比于含有main函数的c文件。
<br/>
pri是可被pro包含的描述文件,它的作用包括设置主工程依赖的环境,文件……比如一个pro工程需要使用boost库,但在不同的平台和不同的编译器下需要链接不同的库文件,当然,这可以在pro主工程文件中处理,但为了增加复用,可以单独写一个pri文件,pro文件中包含即可:include(boost.pri)
<br/>
类似工具链模式的还有cmake的CMakeList.txt和.cmake,这里是选用了qmake.
<br/>
------------------------------------------------------------------------------------------------
<br/><br/>
<a name="structure" class="section">2.结构||适用:all</a><br/>
每一个模块都以首字母大写的形式单独分为一个目录.譬如<br/>
Crypto文件夹,代表crypto模块<br/>
拓扑结构大致如下:<br/>
<pre>
|--Crypto
	| Crypto.pri
	| Crypto.h
	| Crypto.html
	| aes.h
	| aes.c
</pre>
<br>
Crypto.h ------------------------------------
<pre style="font-family:Consolas; color:red;">
#ifndef __FDB_CRYPTO_H__2013_08_09__
#define __FDB_CRYPTO_H__2013_08_09__

#include "aes.h"

#endif // header
</pre>
与模块文件同名的头文件将是外部调用时首选的包含文件,模块内的更小的模块将会自动按照这种层级结构包含.譬如这里的aes.h多半时候不会被库调用者指定.这样将会形成一个头文件包含的层级结构.
<br/>
Crypto.html将会是一份详细的模块描述文档.主要包含<br/>
<pre>
1.模块进展(实现的子模块及将要实现的子模块)
2.接口描述(可以是doc或者pdf等,最好是html)
</pre>
<br/>
aes.h/.c则是具体的子模块实现
<br/>
Crypto.pri描述了当前模块的文件分部以及qmake使用时的一些外部条件
<br/>
Crypto.pri ---------------------------------
<pre style="font-family:Consolas; color:red;">
include($$PWD/../../openssl.pri)

HEADERS += \
    $$PWD/Crypto.h \
    $$PWD/aes.h

SOURCES += \
    $$PWD/aes.c
</pre>

第一行的include($$PWD/../../openssl.pri)<br />
即,当前目前的上一级的上一级的openssl.pri,可以继续看看
<pre style="font-family:Consolas; color:red;">
message("           -------------------------->openssl")

INCLUDEPATH += $$PWD/include

win32-msvc* {
    message("               compiler|platform: win32-msvc*")
    CONFIG(debug,debug|release) {
        message("                       debug mode")
        QMAKE_LFLAGS += /LIBPATH:'$$PWD'lib/openssl
        LIBS += -llibeay32MTd
    } else {
        message("                       release mode")
        QMAKE_LFLAGS += /LIBPATH:'$$PWD'lib/openssl
        LIBS += -llibeay32MT
    }
}

message("           <--------------------------openssl")
</pre>
上述目的何在呢?其实就是因为Crypto模块需要依赖openssl,所以在Crypto.pri中包含了openssl.pri,而openssl.pri自动会处理引用工程的openssl头文件包含路径,以及根据当前平台和编译器处理需要链接的库.
接下来的HEADERS和SOURCES描述了Crypto模块内的文件分布.<br />
当需要进行模块测试的时候,写上一个Crypto.pro
<pre style="font-family:Consolas; color:red;">
TEMPLATE = app
CONFIG -= qt
CONFIG += app_bundle console
TARGET = Crypto
include($$PWD/Crypto.pri)
include($$PWD/../fdb.pri)

SOURCES += \
	$$PWD/test.c
</pre>
在test.c内写上测试的代码,编译Crypto.pro即可.是不是很方便呢?^ _ ^
<br/>
------------------------------------------------------------------------------------------------
<br/><br/>
<a name="module_brief" class="section">3.模块简介||适用:all</a>
<br/>
Exception 异常处理模块,库的所有异常,以及处理crash现场| author:shawhen <a href="Crypto/Crypto.html">more...</a>
<br/>
Crypto 密码学模块,用于加解密| author:shawhen <a href="Crypto/Crypto.html">more...</a>
<br/>
Network 网络模块,socket,uri,protocol的实现| author:shawhen <a href="Network/Network.html">more...</a>
<br/>
IOKit I/O模块,增强的类似FILE的I/O设备和操作接口,可以实现无障碍的I/O| author:dsc <a href="IOKit/IOKit.html">more...</a>
<br/>
Hash 校验,散列值计算模块,sha1的实现 |author:dsc <a href="Hash/Hash.html">more...</a>
<br/>
Register 注册模块,验证证书的合法性 |author:shawhen <a href="Register/Register.html">more...</a>
<br/>
Update 升级模块,升级脚本文件执行引擎 |author:dsc <a href="Update/Update.html">more...</a>
<br/>
MemoryManagement 内存管理模块 |author:shawhen <a href="MemoryManagement/MemoryManagement.html">more...</a>
<br/>
Codec 编解码模块 |author:daijingjing <a href="Codec/Codec.html">more...</a>
<br/>
------------------------------------------------------------------------------------------------
<br/><br/>
<a name="develop_attention" class="section">4.fdb库开发者导读||适用:fdb库开发者</a>
<br/>
1.首先要理解fdb的异常处理机制
<br/>
在Exception模块中的errorNum.h/c定义了出错代码,以及记录错误的接口.
<br/>
比如
<pre style="font-family:Consolas; color:red;">
#define FDB_ERR_INVALID_DOT_PERCENT_IP_ADDR -2 //invalid dot percent ip address

#define FDB_ERR_INVALID_DOT_PERCENT_IP_ADDR_STR \
    "invliad dot percent ip address"
</pre>
即,一个错误包含一个整型的错误值(千万注意了,不能乱定义值,这些值都是有讲究的),和一个错误描述字符串比如:
<pre style="font-family:Consolas; color:red;">
#define FDB_ERR_ACCESS_DENIED ERROR_ACCESS_DENIED //0x5,access denied
#define FDB_ERR_ACCESS_DENIED_STR \
    "operation is not permitted"
</pre>
操作权限不足,这个错误码在Windows中确实定义为ERROR_ACCESS_DENIED 也就是0x5,但在linux上是EPERM(0x1),所以同一个宏的名字,在不同的平台上代表的值是不相同的.如果要移植到linux上,上面的宏就会
<pre style="font-family:Consolas; color:red;">
#define FDB_ERR_ACCESS_DENIED EPERM//0x1,access denied
</pre>
再来看看,errorNum.h/c提供哪些记录错误的接口.
<pre style="font-family:Consolas; color:red;">
extern int giFDBErrNum;
extern char gacFDBErrStr[4096];

#if defined(FDB_RECORD_ERR)
    #define FDBErrStr(format) \
        sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__);
    #define FDBErrStr_ONE_PARAM(format,param1) \
        sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1);
    #define FDBErrStr_TWO_PARAM(format,param1,param2) \
        sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1,param2);
    #define FDBErrStr_THREE_PARAM(format,param1,param2,param3) \
        sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1,param2,param3);
    #define FDBErrStr_FOUR_PARAM(format,param1,param2,param3,param4) \
        sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1,param2,param3,param4);
    #define FDBErrStr_FIVE_PARAM(format,param1,param2,param3,param4,param5) \
        sprintf(gacFDBErrStr,"file:%s,function:%s,line:%d|"##format,__FILE__,__FUNCTION__,__LINE__,param1,param2,param3,param4,param5);
#else
    #define FDBErrStr(format)
    #define FDBErrStr_ONE_PARAM(format,param1)
    #define FDBErrStr_TWO_PARAM(format,param1,param2)
    #define FDBErrStr_THREE_PARAM(format,param1,param2,param3)
    #define FDBErrStr_FOUR_PARAM(format,param1,param2,param3,param4)
    #define FDBErrStr_FIVE_PARAM(format,param1,param2,param3,param4,param5)
#endif
</pre>
一个全局的giFDBErrNum,可以直接对它进行操作设置错误值(很显然,目前还没有做到操作原子性)
<br/>
一个全局的gacFDBErrStr,可以将存储错误描述,要对它进行操作,可以看到,目前提供了五个宏
<br/>
FDBErrStr,FDBErrStr_ONE_PARAM,FDBErrStr_TWO_PARAM...他们的差别就是记录的时候可以提供几个参数.
<br/>
<pre>
NOTE:dsc问我为什么这么设计,干嘛不直接使用可变参数函数.这主要是为了后期做优化工作的考虑,可以看到,必要的时候这些宏会被简单地置空.
另外,错误记录是这么回事,一个接口一般只会简单地返回一二种值,比如0代表正常,-1代表异常.
调用者只需要在返回-1后,去检查giFDBErrNum和gacFDBErrStr了解具体的出错原因,而不是由接口返回多种不同的值来表征异常状态.
这可能与函数式编程的哲学有些违背,但Windows和类unix系统都是这么干的.
</pre>
一个简单的错误记录如下:
<pre style="font-family:Consolas; color:red;">
FDBSSocket* psSocket = (FDBSSocket*)malloc(sizeof(FDBSSocket));
if(!psSocket)
{
	giFDBErrNum = FDB_ERR_MEM_NOT_ENOUGH;
        FDBErrStr("memory not enough when new socket");
}
</pre>
增加了一个参数的错误记录如下:
<pre style="font-family:Consolas; color:red;">
if(iReturn != 0)
{
	giFDBErrNum = iReturn;
        FDBErrStr_ONE_PARAM("initialize Win Sock failed,error code: %d",giFDBErrNum);
        FDBLOG_ONE_PARAM(FDB_LOG_FILE,"initialize Win Sock failed,error code: %d",giFDBErrNum);
}
</pre>
ok,我们看到了FDBLOG_ONE_PARAM这个接口(其实也是一个宏,并且采用了和FDBErrStr*接口一样的把戏),这个接口是FDB的日志记录,FDB_LOG_FILE会被定义成stdout或者是一个日志文件.当然了,必要的时候这个宏会被直接置空.
<pre style="font-family:Consolas; color:red;">
#if defined(FDB_USE_LOG)
    #define FDB_LOG_FILE stdout

    #define FDBLOG(logfile,format) \
	fprintf(logfile,"file:%s,function:%s,line:%d|"##format##"\r\n",__FILE__,__FUNCTION__,__LINE__);
    #define FDBLOG_ONE_PARAM(logfile,format,param1) \
        fprintf(logfile,"file:%s,function:%s,line:%d|"##format##"\r\n",__FILE__,__FUNCTION__,__LINE__,param1);
    #define FDBLOG_TWO_PARAM(logfile,format,param1,param2) \
        fprintf(logfile,"file:%s,function:%s,line:%d|"##format##"\r\n",__FILE__,__FUNCTION__,__LINE__,param1,param2);
    #define FDBLOG_THREE_PARAM(logfile,format,param1,param2,param3) \
        fprintf(logfile,"file:%s,function:%s,line:%d|"##format##"\r\n",__FILE__,__FUNCTION__,__LINE__,param1,param2,param3);
    #define FDBLOG_FOUR_PARAM(logfile,format,param1,param2,param3,param4) \
        fprintf(logfile,"file:%s,function:%s,line:%d|"##format##"\r\n",__FILE__,__FUNCTION__,__LINE__,param1,param2,param3,param4);
    #define FDBLOG_FIVE_PARAM(logfile,format,param1,param2,param3,param4,param5) \
        fprintf(logfile,"file:%s,function:%s,line:%d|"##format##"\r\n",__FILE__,__FUNCTION__,__LINE__,param1,param2,param3,param4,param5);
#else
    #define FDB_LOG_FILE

    #define FDBLOG(logfile,format)
    #define FDBLOG_ONE_PARAM(logfile,format,param1)
    #define FDBLOG_TWO_PARAM(logfile,format,param1,param2)
    #define FDBLOG_THREE_PARAM(logfile,format,param1,param2,param3)
    #define FDBLOG_FOUR_PARAM(logfile,format,param1,param2,param3,param4)
    #define FDBLOG_FIVE_PARAM(logfile,format,param1,param2,param3,param4,param5)
#endif
</pre>
FDB的错误记录和日志记录系统使用的时候只需要包含顶层的fdblib.h即可.
<br/>
据上所述,不同的平台我们需要采取措施进行互斥
<pre style="font-family:Consolas; color:red;">
#if defined(_WIN32)
#define WIN32_LEAN_AND_MEAN
#include <Windows.h>

#define FDB_ERR_MEM_NOT_ENOUGH -1

#define FDB_ERR_INVALID_DOT_PERCENT_IP_ADDR -2 //invalid dot percent ip address

#define FDB_ERR_FILE_NOT_FOUND ERROR_FILE_NOT_FOUND  //0x2,file not found

#define FDB_ERR_ACCESS_DENIED ERROR_ACCESS_DENIED //0x5,access denied

#else
#error "Unsupported Platform"
#endif
</pre>
如果在非Windows平台下使用(具体来讲是预编译阶段),编译器将会报错,提示"Unsupported Platform",即还不支持当前正在编译的平台.
<br/>
在Network的socket模块中也可以看到这样的把戏
<br/>
socket目录下的socket.h
<pre style="font-family:Consolas; color:red;">
#if defined(_WIN32)

#include "Win32Socket.h"

#else
#error "Unsupport Platform"
#endif

FDBInterface FDBSSocket* FDBfSocket_new(FDBEInternetFamily eInternetFamily
                                        ,FDBESocketType eSocketType
                                        ,FDBESocketProtocol eSocketProtocol);
FDBInterface void FDBfSocket_delete(FDBSSocket** ppsSocket);

/*!
 * @brief FDBfSocket_connect
 * @param psSocket
 * @param pRemoteHostIP
 * @param usRemoteHostPort
 * @return -1 for failed
 */
FDBInterface int FDBfSocket_connect(FDBSSocket* psSocket,const char* pRemoteHostIP,unsigned short usRemoteHostPort);

/*!
 * @brief sync bind then listen
 * @return -1 for failed
 */
FDBInterface int FDBfSocket_listenAt(FDBSSocket* psSocket, const char* pListenIPAddr
                                     , unsigned short usListenPort, int iListenQueueLen);

/*!
 * @brief sync accept
 * @return -1 for failed
 */
FDBInterface int FDBfSocket_accept(FDBSSocket* psSocket);

/*!
 * @brief sync recv
 * @return recv bytes,-1 for failed
 */
FDBInterface int FDBfSocket_recv(FDBSSocket* psSocket, char* pBuf, int iBytes2Read, FDBESocketIOFlag eRecvFlag);

/*!
 * @brief sync send
 * @return -1 for failed
 */
FDBInterface int FDBfSocket_send(FDBSSocket* psSocket, const char* pBuf, int iBytes2Send, FDBESocketIOFlag eSendFlag);

///*!
// * @brief sync send http
// * @return send bytes,-1 for failed
// */
//FDBInterface int FDBfSocket_sendHTTP
</pre>
即,当是Windows平台时,socket.h自动包含Win32Socket.h
<br/>
因为不同的平台,socket的类型是不一样的,虽然从本质上来讲就是一个int...
<br/>
Win32Socket.h----------------------
<pre style="font-family:Consolas; color:red;">
/*
 * the prototype of Win32Socket
*/

#if defined(_WIN32)

#ifndef __FDB_WIN32_SOCKET_H__2013_08_12__
#define __FDB_WIN32_SOCKET_H__2013_08_12__

#include "../Networklib.h"

#define WIN32_LEAN_AND_MEAN
#include <Windows.h>
#include <WinSock2.h>

typedef enum FDBEInternetFamily {
    FDBEInternetFamily_Unspecified = AF_UNSPEC
    ,FDBEInternetFamily_IPV4 = AF_INET
    ,FDBEInternetFamily_IPV6 = AF_INET6
    ,FDBEInternetFamily_IPX = AF_IPX
    ,FDBEInternetFamily_APPLETALK = AF_APPLETALK
} FDBEInternetFamily;

typedef enum FDBESocketType {
    FDBESocketType_TCP = SOCK_STREAM
    ,FDBESocketType_UDP = SOCK_DGRAM
    ,FDBESocketType_RAW = SOCK_RAW
    ,FDBESocketType_RDM = SOCK_RDM
    ,FDBESocketType_SEQPACKET = SOCK_SEQPACKET
} FDBESocketType;

typedef enum FDBESocketProtocol {
    FDBESocketProtocol_Auto = 0
} FDBESocketProtocol;

typedef enum FDBESocketIOFlag {
    FDBESocketIOFlag_No_Set = 0
} FDBESocketIOFlag;

typedef struct FDBSSocket {
	SOCKET sock;
    int iInternetFamily;
} FDBSSocket;

#endif //header

#else
#error "Inlcude Error File,please connect developer"
#endif
</pre>
另外,这里有个地方值得提一提,可以看到,在Win32Socket.h中只有相关的数据类型声明,而接口的声明还是在socket.h中,即,抽象出来的接口应该是平台无关的(不然抽象就没太大的意义了).
<br/>
还有值得注意的地方
<pre style="font-family:Consolas; color:red;">
typedef struct FDBSSocket {
	SOCKET sock;
    	FDBEInternetFamily eInternetFamily;
} FDBSSocket;
</pre>
可以看到,sock这个变量没有类型前缀,这是合理的,因为在不同的平台上,sock这个变量的数据类型可能是不相同的,此时为了保证底层的一致性,是可以不加数据类型前缀的.
<br/>
fdb库的编码风格:
<br/>
1.模仿面向对象的class
<br/>
当你打算在你编写的模块中使用纯C模仿C++的面向对象时,需要遵循以下风格.
<br/>
假如这个class(实际上是一个sruct)名为FDBCSocket(当你看到一个FDBC开始的结构体时,你总是应该使用fdb库提供的接口来进行操作)
<br/>
那么它的构造函数看起来是这个样子
<br/>
<pre style="font-family:Consolas; color:red;">
struct FDBCSocket* FDBfSocket_new();
</pre>
它的析构函数看起来是这个样子
<pre style="font-family:Consolas; color:red;">
void FDBfSocket_delete(struct FDBCSocket ** ppobjSocket);
</pre>
其他的操作FDBCScoket的函数(伪方法),看起来是这样FDBfSocket_operate(int a,int b);
2.先保证安全,正确,再考虑高效.
<br/>
必要的错误检测是必须的
<br/>
3.函数命名规范
<br/>